/* @media only screen and (max-width:600px){
    body{
        background-color: purple;
    }
} */

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 601px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    body{
        background-color: teal;
    }
}

.letterBox{
    border: 2px solid grey;
    height: 20px;
    width: 20px;
    padding: 5px;
    text-align: center;
    margin: 2px;
}

.word{
    display:flex;
}

.match {
    background-color: green;
}

.invalid {
    background-color: gray;
}

.wrongSpot {
    background-color: yellow;
}

.word:last-of-type{
    padding-bottom: 25px;
}

#game-mode{
    padding-top: 20px;
    display: flex;
}

input {
    border:1px solid #000;
    border-right:none;
    padding:4px;
    margin:0px;
    float:left;
    height:16px;
    overflow:hidden;
    line-height:16px;
}
button {
    border:1px solid #000;
    background:rgb(167, 28, 167);
    color: white;
    vertical-align:top;
    padding:4px;
    margin:0;
    float:left;
    height:26px;
    overflow:hidden;
    width:auto;
    text-align:center;
    line-height:16px;
    cursor: pointer;
    
} 

body{
    /* Centering body content*/
    /* 
        May want to look into using this instead of max-content
        max-width: 400px;
        width: 100%
    */
    width:max-content;
    margin: 0 auto;
}


/* Debug Toggle CSS*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

#toggleText{
    line-height: 34px;
    margin: auto;
    padding-left: 15px;
}

/* Need to figure out how to get each row on its own line */

#game-mode{
    display: inline-flex;
}

